.header {
    position: sticky;
    top: 0;
    padding: 2px 5px 2px 20px;
    background-color: var(--tertiary);
    z-index: 999;
    flex-direction: row;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    cursor: grab;
    -webkit-app-region: drag;
}

.title {
    margin: 0;
}

.button-container {
    flex-direction: row;
    display: flex;
    gap: 10px;
    -webkit-app-region: no-drag;
}

.button-header {
    border: none;
    border-radius: 5px;
    color: white;
    background-color: transparent;
    padding: 4px 7px;
    cursor: pointer;
    transition: all .2s ease-in-out;
    outline: none;
}

.button-img {
    width: 20px;
    height: 20px;
}

.button-header:hover {
    background-color: var(--secondary);
}