.clipboard-background {
  background-color: var(--primary);
  margin: 0;
  display: flex;
  flex-direction: column;
  font-size: .9em;
  margin-bottom: 2.2em;
}

.copied-element {
  padding: 8px;
  padding-left: 20px;
  margin-top: 5px;
  text-overflow: ellipsis;
  background-color: var(--secondary);
  border: none;
  color: white;
  text-align: left;
  transition: all ease-in-out .2s;
}

.copied-element-img {
  height: 60px;
}

.copied-element:hover {
  background-color: var(--tertiary);;
  cursor: pointer;
  transform: scale(1.01);
}

.search-box {
  padding: 10px;
  text-overflow: ellipsis;
  background-color: var(--tertiary);
  border: none;
  color: white;
  text-align: left;
  transition: all ease-in-out .2s;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 1.1em;
  outline: none;

}
.search-box:hover {
  background-color: var(--tertiary);;
  cursor: pointer;
  transform: scale(1.01);
}