html {
    min-height: 100vh;
    min-width: 100vw;
    font-family: sans-serif;
    overflow: scroll;
    scrollbar-color: #242729 #3a3b3b;
    scrollbar-width: thin;
    overflow-x: hidden;
}


body {
    background-color: #181a1b;
    margin: 0;
    min-height: 100%;
    min-width: 100%;
    color: #dcd9d5;
    --primary: #1d2021;
    --secondary: #242729;
    --tertiary: #3a3b3b;

}